---
title: Bengaluru 2015
date: Oct 2 - 4, 2015
location: Fairfield Marriott, Bengaluru
logo: indigitous.png
event: 
customBanner: banner.md
cwd: src/content/events/bangalore/2015g/
layout: src/templates/layouts/event.hbs
registrationLink: http://c4tk.in/hackathon
sections:
- path:
    about.md
  title:
    About
- path:
    schedule.md
  title:
    Schedule
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
