---
title: Atlanta 2015
date: Oct 2 - 4, 2015
location: Alpharetta Tech Commission Innovation Center, Alpharetta GA
logo: indigitous.png
event: 
customBanner: banner.md
cwd: src/content/events/Atlanta/2015g/
layout: src/templates/layouts/event.hbs
registrationLink: http://c4tkatlanta2015.eventbrite.com
sections:
- path:
    about.md
  title:
    About
- path:
    organizers.md
  title:
    Local Organizers
- path:
    sponsors.md
  title:
    Sponsors
- path:
    schedule.md
  title:
    Schedule
- path:
    indigitous.md
  title:
    Indigitous    
- path:
    challenges.md
  title:
    Challenges
- path:
    prizes.md
  title:
    Awards
- path:
    mentors.md
  title:
    Mentors
- path:
    apis.md
  title:
    APIs
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Map
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
