---
title: Seattle 2016
location: Seattle, WA
date: Oct 21-23, 2016
logo:
event: latest
customBanner:
cwd: src/content/events/seattle/2016/
layout: src/templates/layouts/event.hbs
registrationLink:
sections:
- path:
    about.md
  title:
    About
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
