---
title:  Polska 2016
location:  Uniwersytet Śląski w Katowicach
date: 20-22 maja 2016
logo:
event: latest
homealtLanguage: Home
altLanguage: English
altLanguageUrl: poland-hackathon-2016eng.html
registrationaltLanguage: Zarejestruj się już teraz
customBanner: banner.md
cwd: src/content/events/poland/2016/
layout: src/templates/layouts/event.hbs
registrationLink: https://c4tkpoland.eventbrite.com
sections:
- path:
    about.md
  title:
    O Nas
- path:
    sponsor.md
  title:
    Zostań sponsorem
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Mapa
- path:
    footer.md
  title:
    (hidden)

---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '251972941821354');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=251972941821354&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Twitter universal website tag code -->
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('nus7p', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nus7p&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nus7p&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>
<!-- End Twitter universal website tag code -->
