---
title: Global Hackathon 2016
location: Cities all around the world
date: October 21 - October 23, 2016
logo:
event: latest
customBanner:
cwd: src/content/events/global/2016/
layout: src/templates/layouts/global.hbs
sections:
- path:
    about.md
  title:
    About
- path:
    cities.md
  title:
    Participating Cities
- path:
    host.md
  title:
    Organize in your city
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ



---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
