---
title: Contact Us
main: true
layout: src/templates/layouts/single.hbs
---
<article id="main">

  <header class="special container" style="color: white">
    <span class="icon fa-envelope"></span>
    <h2>{{title}}</h2>
    <p>To learn more about Code for the Kingdom, how you can help organize a hackathon, or sponsorship opportunities please use the form below.</p>
  </header>

  <!-- One -->
    <section class="wrapper style4 special container small">

      <!-- Content -->
        <div class="content">
          <form action="http://forms.brace.io/chris.armas@leadnet.org" method="post">
            <div class="row half no-collapse-1">
              <div class="6u">
                <input type="text" name="name" placeholder="Name" />
              </div>
              <div class="6u">
                <input type="text" name="email" placeholder="Email" />
              </div>
            </div>
            <div class="row half">
              <div class="12u">
                <input type="text" name="subject" placeholder="Subject" />
              </div>
            </div>
            <div class="row half">
              <div class="12u">
                <textarea name="message" placeholder="Message" rows="7"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="12u">
                <ul class="buttons">
                  <li><a href="#" class="button special">Send Message</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>

    </section>

</article>
