---
title: Poland 2016
location: Silesia University, Katowice
date: May 20 - 22, 2016
logo:
event:
homealtLanguage: Home
altLanguage: Polski
altLanguageUrl: poland-hackathon-2016.html
registrationaltLanguage: Register
customBanner:
cwd: src/content/events/poland/2016eng/
layout: src/templates/layouts/event.hbs
registrationLink: https://c4tkpoland.eventbrite.com
sections:
- path:
    about.md
  title:
    About
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Map
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
