---
title: Denver 2016
location: WorldVenture  |   1501 West Mineral Avenue Littleton, CO
date: Oct 21-23, 2016
logo:
event: latest
customBanner:
cwd: src/content/events/denver/2016/
layout: src/templates/layouts/event.hbs
registrationLink: https://www.eventbrite.com/e/2nd-annual-rocky-mountain-hackathon-tickets-27313876540
sections:
- path:
    about.md
  title:
    About
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
