---
component: banner-slider
---
<!-- Banner -->
<section id="banner">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
    <div class="inner">
      <header>
        <h2>Code for the Kingdom Hackathon</h2>

      </header>
      <div><b>March</b></div>
      <div>For our fully virtual hackathon this year we will be working together to tackle community challenges, digital utilization of churches, build tools that aid growth in relationship with God and the church body, and more.</div>
      <footer>
        <ul class="buttons">
          <li><a href="seattle-hackathon-2021.html" class="button fit scrolly">Tell Me More</a></li>
          <li><a href="https://www.eventbrite.com/e/code-for-the-kingdom-virtual-hackathon-tickets-137712573013?aff=ebdssbeac" class="button fit scrolly">Register</a></li>
        </ul>
      </footer>
    </div>

</section>
