---
component: banner
---
<!-- Banner -->
<section id="banner">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
    <div class="inner">
      <header>
        <h2>Code for the Kingdom<br/>&nbsp;{{this.title}}</h2>
      </header>
      <p>{{this.location}}</p>
      <p>{{this.date}}</p>

      <footer>
        <ul class="buttons">
          <li><a href="#about.md" class="button fit scrolly">Tell Me More</a></li>
          <li>{{> register-button}}</li>
        </ul>
      </footer>
    </div>

</section>
