<div>
  <div style="display:inline-block">
  <a class="button small special" href="http://codeforthekingdom.org/contact.html" >
    <i class="icon fa-envelope" style="content: '\f138'"></i>
    CONTACT US
  </a>
  </div>
  </div>
</div>
