<!-- Footer -->
<footer id="footer">

  <ul class="icons">
    <li><a target="_blank" href="https://twitter.com/code4thekingdom" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
   
    <li><a target="_blank" href="https://www.facebook.com/pages/Code-for-the-Kingdom/345488018911337" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>

    <!--<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
    <!--<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>-->
  </ul>

  <span class="copyright">&copy; {{site.year}} Code for the Kingdom. All rights reserved.</span>
  <br/>
  <span class="copyright"> Design by: <a href="http://html5up.net">HTML5 UP</a>. Created by: <a href="http://www.twitter.com/meritandgrace">@meritandgrace</a></span>

</footer>
