---
component: mentor-filter
mentorCategories:





- title:
    Business 
  category:
    business
- title:
    Coding
  category:
    coding    
- title:
    Design
  category:
    design  
- title:
    Entrepreneurship
  category:
    entrepreneurship           
- title:
    Ideation
  category:
    ideation  
- title:
    Marketing
  category:
    marketing    
- title:
    Ministry
  category:
    ministry       
- title:
    Strategy
  category:
    strategy



---
<div>
  Show mentors who can help in: 
  <select id="mentor-filter">
    <option value="">Anything</option>
    {{#each mentor-filter.mentorCategories}}
      <option value="{{this.category}}">{{this.title}}</option>
    {{/each}}
  </select>
</div>
<br/>
