<div class="qa">
  <div class="expander"><span class="toggle-switch"></span><span class="question">{{question}}</span></div>
  <div class="content">
    <p>
      {{answer}}
    </p>
  </div>
  <hr/>
</div>
