<div class="qa">
  <div class="expander"><span class="toggle-switch"></span><span class="question">{{question}}</span></div>
  <div class="content">
{{#markdown}}
{{answer}}
{{/markdown}}
  </div>
  <hr/>
</div>
