<div>
  <div style="display:inline-block">
  <a class="button small special" href="{{registrationLink}}" target="_blank">
    <i class="icon icon-chevron-sign-right" style="content: '\f138'"></i>
    REGISTER NOW
  </a>
  </div>
  <div style="display:inline-block">
    <a href="https://twitter.com/code4thekingdom" target="_new" class="icon circle fa-twitter small">
     <span class="label">Twitter</span>
    </a>
    <a href="https://www.facebook.com/c4tkIndia" target="_new" class="icon circle fa-facebook small">
      <span class="label">Facebook</span>
    </a>
  </div>
</div>
