<div>
  <div style="display:inline-block">
  <a class="button small special" href="{{registrationLink}}" target="_blank">
    <i class="icon icon-chevron-sign-right" style="content: '\f138'"></i>
    REGISTER NOW
  </a>
  </div>
  <a href="https://twitter.com/code4thekingdom" target="_new" class="icon circle fa-twitter small">
   <span class="label">Twitter</span>
  </a>
  <a href="https://plus.google.com/u/0/communities/112803271040533425213" target="_new" class="icon circle fa-google-plus small">
    <span class="label">Google Plus</span>
  </a>
</div>
