---
title: CREATE FOR THE KINGDOM Austin 2014
location: Tangoe Inc. 2420 Ridgepoint Drive, Austin, TX 78754 
date: September 12th-14, 2014
event: latest
cwd: src/content/events/austin/2014/
layout: src/templates/layouts/event.hbs
registrationLink: http://c4tkaustin2014.eventbrite.com
sections:
- path:
    about.md
  title:
    About
- path:
    schedule.md
  title:
    Schedule
- path:
    challenges.md
  title:
    Challenge
- path:
    prizes.md
  title:
    Prizes
- path:
    mentors.md
  title:
    Mentors
- path:
    organizers.md
  title:
    Organizers
- path:
    apis.md
  title:
    APIs
- path:
    sponsors.md
  title:
    Sponsors
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
