---
title: Bay Area Hackathon 2015
location: Cityteam San Jose, 2304 Zanker Road, San Jose, CA 95131
date: Nov 13-15, 2015
logo: venture_christian.png
event: latest
customBanner: banner.md
cwd: src/content/events/bayarea/2015/
layout: src/templates/layouts/event.hbs
registrationLink: https://bay-area-hackathon.eventbrite.com
sections:
- path:
    about.md
  title:
    About 
- path:
    schedule.md
  title:
    Schedule      
- path:
    challenges.md
  title:
    Challenges
- path:
    awards.md
  title:
    Awards      
- path:
    organizers.md
  title:
    Organizers
- path:
    mentors.md
  title:
    Mentors    
- path:
    apis.md
  title:
    APIs
- path:
    sponsors.md
  title:
    Sponsors
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Map    
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
