---
title: Guatemala City 2015
date: Oct 2 - 4, 2015
location: Casa de Libertad, Km 13.1 Carr. a El Salvador
logo: indigitous.png
event:
altLanguage: Español
altLanguageUrl: guatemala2015GEsp.html
customBanner: banner.md
cwd: src/content/events/Guatemala City/2015g/
layout: src/templates/layouts/event.hbs
registrationLink: 
sections:
- path:
    about.md
  title:
    About
- path:
    indigitous.md
  title:
    Indigitous
- path:
    organizers.md
  title:
    Local Organizers
- path:
    sponsors.md
  title:
    Sponsors
- path:
    schedule.md
  title:
    Schedule
- path:
    challenges.md
  title:
    Challenges
- path:
    prizes.md
  title:
    Awards
- path:
    mentors.md
  title:
    Mentors
- path:
    apis.md
  title:
    APIs
- path:
    beapart.md
  title:
    Be a part of it
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Map
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
