---
title: Tarija, Bolivia 2016
location: Tarija, Bolivia
date: Oct 21-23, 2016
logo:
event: latest
customBanner:
cwd: src/content/events/bolivia/2016Tarija/
layout: src/templates/layouts/event.hbs
registrationLink:
sections:
- path:
    about.md
  title:
    About
- path:
    sponsors.md
  title:
    Our Sponsors
- path:
    challenges.md
  title:
    Challenges
- path:
    apis.md
  title:
    APIs
- path:
    mentors.md
  title:
    Mentors
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
