---
title: Jakarta 2015
date: Oct 2 - 4, 2015
location: KEJORA @ BARITO PACIFIC PLAZA TOWER A, LEVEL 6
logo: 
event: 
customBanner: banner.md
cwd: src/content/events/Jakarta/2015g/
layout: src/templates/layouts/event.hbs
registrationLink: https://www.eventbrite.com/e/code-for-the-kingdom-2015-jakarta-tickets-17496579741
sections:
- path:
    about.md
  title:
    About
- path:
    organizers.md
  title:
    Local Organizers
- path:
    sponsors.md
  title:
    Sponsors
- path:
    schedule.md
  title:
    Schedule
- path:
    challenges.md
  title:
    Challenges
- path:
    prizes.md
  title:
    Awards
- path:
    mentors.md
  title:
    Mentors
- path:
    apis.md
  title:
    APIs
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    map.md
  title:
    Map
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
