---
title: Bay Area 2016
location1: San Francisco
Address1: FIVESTARS, 340 Bryant St, San Francisco
location2: Fremont
Address2: COVERGENCE HOUSE OF PRAYER, 200 Hammond Ave, Fremont
location3: Palo Alto
Address3: MixBook.com, 409 Sherman Ave, Palo Alto
date: September 23-25, 2016
logo: venture_christian.png
event: latest
customBanner: banner.md
cwd: src/content/events/bayarea/2016/
layout: src/templates/layouts/event.hbs
registrationLink: https://www.eventbrite.com/e/2016-bay-area-code-for-the-kingdom-hackathon-registration-25961049197
sections:
- path:
    about.md
  title:
    About
- path:
    currentsponsors.md
  title:
     Thanks to Our Sponsors
- path:
    Speakers.md
  title:
    Speakers
- path:
    schedule.md
  title:
    Schedule
- path:
    challenges.md
  title:
    Challenges
- path:
    awards.md
  title:
    Awards
- path:
    organizers.md
  title:
    Organizers
- path:
    mentors.md
  title:
    Mentors
- path:
    apis.md
  title:
    APIs
- path:
    rules.md
  title:
    Rules
- path:
    be-a-sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
