---
title: Warsaw 2016
location: Centrum konferencyjne Mt28 ul. Polnej Róży 1C, WARSZAWA
date: 21-23 października 2016
logo:
event:
customBanner:
cwd: src/content/events/poland/2016Geng
layout: src/templates/layouts/event.hbs
registrationLink: https://c4tk-global.evenea.pl
sections:
- path:
    about.md
  title:
    About
- path:
    sponsors.md
  title:
    Our Sponsors
- path:
    challenges.md
  title:
    Challenges
- path:
    apis.md
  title:
    APIs
- path:
    research.md
  title:
    Research your Idea
- path:
    mentors.md
  title:
    Mentors
- path:
    sponsor.md
  title:
    Be a Sponsor
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
