---
title: Dallas/Fort Worth 2015
location: The Addison TreeHouse, 14681 Midway Rd, Addison TX
date: March 20-22, 2015
logo: 
event: latest
cwd: src/content/events/dfw/2015/
layout: src/templates/layouts/event.hbs
registrationLink: http://c4tkdfw2015.eventbrite.com
sections:
- path:
    about.md
  title:
    About
- path:
    share_idea.md
  title:
    Share your idea ahead of time
- path:
    schedule.md
  title:
    Schedule
- path:
    challenges.md
  title:
    Challenge
- path:
    prizes.md
  title:
    Awards
- path:
    mentors.md
  title:
    Mentors
- path:
    organizers.md
  title:
    Organizers
- path:
    apis.md
  title:
    APIs
- path:
    sponsors.md
  title:
    Sponsors
- path:
    rules.md
  title:
    Rules
- path:
    faq.md
  title:
    FAQ
- path:
    footer.md
  title:
    (hidden)
---
{{#each sections}}
<section class="wrapper container style4" id="{{this.path}}">
<div>
{{#markdown}}
{{#compose cwd=../../cwd src=../this.path}}
{{{@content}}}
{{/compose}}
{{/markdown}}
</div>
</section>
{{/each}}
